<div class="prelogin-form">
    <div class="my-4">
        <h4>Reset Password</h4>
    </div>
    <div class="">
        <form [formGroup]="forgotPasswordForm" (ngSubmit)="changePassword()">
            <div class="login-form-div">
                <div class="mb-4 position-relative">
                    <div class="">
                        <input [type]="passwordVisible ? 'text' : 'password'" class="form-control ps__40 pe-5"
                            id="password" placeholder="Password" name="password" formControlName="password"
                            [ngClass]="{ 'validation-input': forgotPasswordForm.get('password')?.invalid && forgotPasswordForm.get('password')?.touched}" />
                        <i class="bi bi-lock login-input-icon"></i>
                        <div class="passwor_show_icon" (click)="togglePasswordVisibility()">
                            <i class="bi bi-eye-fill" *ngIf="!passwordVisible"></i>
                            <i class="bi bi-eye-slash" *ngIf="passwordVisible"></i>
                        </div>
                    </div>
                    <div class="validation-text"
                        *ngIf="forgotPasswordForm.get('password')?.hasError('required') && forgotPasswordForm.get('password')?.touched">
                        Password is required
                    </div>
                    <div class="validation-text"
                        *ngIf="forgotPasswordForm.get('password')?.hasError('error') && forgotPasswordForm.get('password')?.touched && !forgotPasswordForm.get('password')?.hasError('required')">
                        {{ forgotPasswordForm.get('password')?.getError('error') }}
                    </div>
                </div>
                <div class="mb-4 position-relative">
                    <div class="">
                        <input [type]="confirmPasswordVisible ? 'text' : 'password'" class="form-control  ps__40 pe-5"
                            id="confirmpassword" placeholder="Confirm Password" name="confirmpassword"
                            formControlName="confirmpassword"
                            [ngClass]="{ 'validation-input': ((forgotPasswordForm.get('confirmpassword')?.invalid || !doPasswordsMatch() )&& forgotPasswordForm.get('confirmpassword')?.touched) }" />
                        <i class="bi bi-lock login-input-icon"></i>
                        <div class="passwor_show_icon" (click)="toggleConfirmPasswordVisibility()">
                            <i class="bi bi-eye-fill" *ngIf="!confirmPasswordVisible"></i>
                            <i class="bi bi-eye-slash" *ngIf="confirmPasswordVisible"></i>
                        </div>
                    </div>
                    <div class="validation-text"
                        *ngIf="forgotPasswordForm.get('confirmpassword')?.hasError('required') && forgotPasswordForm.get('confirmpassword')?.touched && doPasswordsMatch()">
                        Confirm Password is required
                    </div>
                    <div class="validation-text"
                        *ngIf="!doPasswordsMatch() && forgotPasswordForm.get('confirmpassword')?.touched">
                        Password do not match.
                    </div>
                    @if(errorMessage!==''){
                    <div class="validation-text">{{errorMessage}}</div>
                    }
                </div>
                <button type="submit" class="btn btn-primary button-xl w-100">
                    Change Password
                </button>
            </div>
        </form>

        <div class="text-center act-text mt-3">
            <p> Want to go back to Login?<a class="font-weight-500 ps-1 text-blue" routerLink="/login">Sign In</a></p>
        </div>

    </div>
</div>