<div class="prelogin-form">
  @if(resetStatus===false){
  <h1 class="fs-5" style="margin-bottom: 15px;">Reset Password</h1>
  <form (ngSubmit)="forgotPassword()" [formGroup]="forgotPasswordForm">
    <div class="mb-2 position-relative">
      <input type="email" class="form-control ps__40" id="email" placeholder="Email" name="email"
        formControlName="email"
        [ngClass]="{ 'validation-input': forgotPasswordForm.get('email')?.invalid && forgotPasswordForm.get('email')?.touched || errorMessage}" />
      <i class="bi bi-envelope login-input-icon" style="font-size: 16px;"></i>
      <div class="validation-text"
        *ngIf="forgotPasswordForm.get('email')?.hasError('required') && forgotPasswordForm.get('email')?.touched">
        Email is required
      </div>
      <div class="validation-text"
        *ngIf="forgotPasswordForm.get('email')?.hasError('invalidEmail') && forgotPasswordForm.get('email')?.touched && !forgotPasswordForm.get('email')?.hasError('required')">
        Invalid email format
      </div>
      <div class="validation-text"
        *ngIf="errorMessage!=='' && !forgotPasswordForm.get('email')?.hasError('invalidEmail')">
        {{errorMessage}}
      </div>
    </div>
    @if(errorMessage.toLowerCase().includes("please verify"))
    {
    <div class="text-end act-text mb-1">
      <p class="resend-text">Didn't recieve verification email?
        <span class="para-link"> Resend</span>
      </p>
    </div>
    }
    @else{
    <div class="mt-4"></div>
    }
    <button type="submit" class="btn btn-primary button-xl w-100" routerLink="/reset-password">Continue</button>
  </form>
  <div class="text-center act-text mt-3">
    <p> Didn’t request a password reset?<a class="font-weight-500 ps-1 text-blue" routerLink="/login">Sign In</a></p>
  </div>
  }
  @else{
      <div class="send-email-text">
        <h1 class="fs-5" style="margin-bottom: 10px;">Password Reset Email Sent</h1>
        <p class="mb-3" style="font-size: 18px;">We've sent a password reset email to your registered Gmail account. Please check your inbox and follow the instructions to reset your password.</p>
        <p>If you don't see the email in your inbox, please check your spam or junk folder.</p>
      </div>           
  }

</div>