<div class="prelogin-form">

    <div class="my-4">
        <h4>Welcome to Movie Booking System</h4>
        <p>Please enter your credentials to continue</p>
    </div>
    <div class="">
        <form [formGroup]="loginForm" (ngSubmit)="login()">
            <div>
                <div class="mb-4 position-relative">
                    <input type="email" 
                    class="form-control ps__40" 
                    id="email" 
                    formControlName="email"
                    placeholder="Email"
                    [ngClass]="{ 'validation-input': loginForm.get('email')?.invalid && loginForm.get('email')?.touched || incorrect }" />
                    <i class="bi bi-envelope login-input-icon" style="font-size: 16px;"></i>
                    <div class="validation-text"
                        *ngIf="loginForm.get('email')?.hasError('required') && loginForm.get('email')?.touched">
                        Email is required
                    </div>
                    <div class="validation-text"
                        *ngIf="loginForm.get('email')?.hasError('invalidEmail') && loginForm.get('email')?.touched && !loginForm.get('email')?.hasError('required')">
                        Invalid email format
                    </div>
                </div>
                <div class="mb-2 position-relative">
                    <div>
                        <input 
                        formControlName="password" 
                        type="{{ passwordFieldType }}"
                        class="form-control ps__40 pe-5" 
                        id="password" 
                        placeholder="Password"
                        [ngClass]="{ 'validation-input': loginForm.get('password')?.invalid && loginForm.get('password')?.touched || incorrect }" />
                        <i class="bi bi-lock login-input-icon"></i>
                        <div class="passwor_show_icon" (click)="togglePasswordVisibility()">
                            <i class="bi bi-eye-fill" *ngIf="passwordFieldType=='password'"></i>
                            <i class="bi bi-eye-slash" *ngIf="passwordFieldType=='text'"></i>
                        </div>
                    </div>
                    <div class="validation-text"
                        *ngIf="loginForm.get('password')?.hasError('required') && loginForm.get('password')?.touched">
                        Password is required
                    </div>
                    <div class="validation-text" *ngIf="incorrect">
                        {{errorMessage}}
                    </div>
                </div>

                <div class="text-end act-text mb-1" *ngIf="errorMessage.includes('Please verify')">
                    <p class="resend-text">Didn't receive a verification email?
                        <span class="para-link" (click)="resendVerification()"> Resend</span>
                    </p>
                </div>

                <button type="submit" class="btn btn-primary button-xl w-100">
                    <b>Login</b>
                </button>

                <div class="text-end pe-3">
                    <p class="color-box-container w-100">
                        <a class="fw-normal" routerLink="/reset-password"> Forgot password?</a>
                    </p>
                </div>
            </div>
        </form>

      

        <div class="text-center act-text">
            <p> Don't have an account? <a class="font-weight-500 ps-1 text-blue" routerLink="/register">Create an
                    account</a></p>
        </div>
    </div>
</div>