<div class="container-fluid login-page">
  <div class="row">
    <div class="col-md-5 col-12 col-sm-12 p-0">
      <div class="prelogin-bg">
        <div>
          <div class="col-11 mx-auto col-xl-12 text-center">
            <img src="../../assets/side-image.png" class="img-fluid">
          </div>
          <div class="col-12 col-md-8 mx-auto py-5">
            <h4>Book Your Favorite Movies Anytime, Anywhere!</h4>
            <p class="font-size-16 mt-3">Experience the magic of cinema at your fingertips. With our user-friendly platform, easily browse, book, and enjoy your favorite films from the comfort of your home.</p>
          </div>
        </div>
      </div>
    </div>    
    <div class="col-md-7 col-12 col-sm-10 mx-auto ps-md-0 pt-4 pt-md-0">
      <div class="login__input">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
